.menu {
	background: black;
	
	display: none;
}
.menu a {
	border-top: grey 1px solid;
	border-bottom: grey 1px solid;
	
	display: inline-block;
	width: 100%;
	height: 50px;
	color: rgba(203,203,215,1);
}

.menuin {
	display: none;
}
.menuin>a {
	padding-left: 10%;
	width: 100%;
}