#FAQ {
	color: rgba(130,130,137,1);
}
#FAQ h2 {
	color: black;
}
#FAQ h5 {
	color: black;
	display: inline-block;
	width: 90%;
	
	transition: 1s;
}

#FAQ ol {
	list-style: none;
	
	transition: 1s;
}
#FAQ li {
	padding: 5px;
	
	transition: 1s;
}
#FAQ li p {
	padding-left: 2em;
	display: none;
	
	transition: 1s;
}
.FAQAccordionActive {
	background-image: url(images/FAQ/border.png);
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
.FAQAccordionActive h5 {
	color: red !important;
}
.FAQAccordionActive p {
	display: block !important;
}