footer {
  background: black;
  background-image: url(images/footer/fon.png);
  background-size: 100% 100%;
  color: rgba(203,203,215,1);
}
footer h2, footer h6 {
  color: white;
}
footer address>ul {
  list-style-type: none;
}
footer address>ul>li {
  display: inline-block;
  width: 25px;
  height: 25px;
  margin: 10px;
}

#footer-form {
  color: rgba(203,203,215,1);
}
#footer-form input, #footer-form textarea {
  color: rgba(203,203,215,1);

  background: rgba(0,0,0,0);
  border: solid 1px rgba(203,203,215,0.7);
  border-radius: 5%;

  margin: 10px;
  padding: 1% 25px;

  width: 100%;
}
#footer-form input::placeholder, #footer-form textarea::placeholder {
  opacity: 1;
  color: rgba(233,233,245,1);
}
#footer-form textarea {
	padding: 5% 25px;
}
#footer-form-submit {
  color: white;
  background: red !important;

  margin: 1%;
  height: 50px;
}
#footer-form-submitend {
  color: white;
  background: red !important;

  margin: 1%;
  height: 50px;
  
  display: none;
  
  cursor: default;
}
.footer-address-data {
  font-size: 1.5em;
  color: white;
}

#footer-form .footer-ckeckbox {
	border: solid 1px rgba(203,203,215,0.7);
	border-radius: 15%;
	margin: 10px;
	padding: 0px;
	
	width: 25px;
	height: 25px;
	
	display: inline-block;
}
#footer-form .footer-ckeckbox>input {
	display: none;
	
	margin: 0px;
	padding: 0px;
}
.footer-line  {
	border-top: 1px solid gray;
}