header {
	padding: 15px;
	
	color: rgba(203,203,215,1);
	
	position: relative;
	
	z-index: 0;
	
	background: #090537;
}
header a {
	color: rgba(203,203,215,1);
}
header>video {
	height: 100%;
	width: 100%;
	object-fit: cover;
	
	opacity: 0.3;
	
	display: block;
	position: absolute;
	top: 0px;
	left: 0px;
	
	z-index: -1;
}
header h1 {
	color: rgba(255,255,255,1);
	font-size: 170%;
}
#header-menu>li {
	display: inline-block;
	padding-left: 10px;
	padding-right: 10px;
	
	position: relative;
}
#header-tar {
	display: block;
	width: 200px;
	height: 50px;
	border: 1px red solid;
	border-radius: 5%;
	margin: 30px auto 50px auto;
	text-align: center;
	padding-top: 1%;
}
#header-statistic>div {
	float: left;
	display: inline-block;
	border-left: red 3px solid;
	width: 43%;
	height: 90px;
	margin: 15px 3%;
	padding: 1%;
}
#header-statistic>div>p {
	margin: 0px;
	padding: 0px;
	font-size: 0.7em;
	position: relative;
	top: -10px;
}
#header-statistic>div h2, #header-statistic>div h4 {
	color: white;
	display: inline-block;
}
#header-statistic>div h2 {
	font-size: 2.5em;
	margin-bottom: 0px;
	
	position: relative;
	top: -20px;
}
#header-statistic>div>img {
	display: inline-block;
	position: relative;
	top: -37px;
}

#header-mainmenu>ul {
	display: none !important;
}
#header-menubutton>img {
	display: inline-block !important;
	width: 30px;
	margin-left: calc(115% - 30px);
}

#headerblock {
	order: -3;
}
.menu {
	order: -1;
}

@media screen and (min-width: 768px) {
#header-mainmenu {
	display: flex;
}
}
@media screen and (min-width: 868px) {
header h1 {
	font-size: 250%;
}
	
#header-statistic>div {
	width: 27%;
	margin: 25px 2%;
}
#header-mainmenu>ul {
	display: flex !important;
}
#header-menubutton {
	display: none !important;
}
#header-tar {
	margin: 50px auto 100px auto;
}
#headerblock {
	order: 0;
}
}