#jobOpportunites {
	margin-top: 130px;
	margin-bottom: 65px;
	padding: 15px;
	color: rgba(130,130,137,1);
}
#jobOpportunites h2 {
	color: black;
}
#jobOpportunites-competencyList>div {
	width: 50%;
}
#jobOpportunites-competencyList>div>img {
	position: relative;
	left: -35px;
	padding-left: 35px;
	background-image: url(images/symbol.png);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: -15px 0%;
}
#jobOpportunites-competencyList>p {
	display: block;
}

.jobOpportunites-tab {
	width: 0%;
}

@media screen and (min-width: 768px) {
#jobOpportunites-competencyList>div {
	width: 17%;
}
.jobOpportunites-tab {
	width: 7%;
}
}