#lastcases .galary {
	display: grid;
	grid-template-columns: repeat(1 , 1fr);
	grid-gap: 1%;
}
#lastcases .galary>img {
	width: 100%;
	
	border-radius: 5%;
}

@media screen and (min-width: 768px) {
#lastcases .galary {
	grid-template-columns: repeat(3 , 1fr);
	grid-gap: 5%;
}
#lastcases .galary>img {
	height: 250px;
	width: 100%;
}
#lastcases .galary .b2 {
	grid-column: 2 / span 2;
}
}