#reviews {
	color: rgba(130,130,137,1);
}
#reviews h2 {
	color: black;
}

#reviews-center>img {
  border-bottom: 1px gray solid;
}
#reviews-center {
	background: white;
	border-radius: 5%;
	box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
}
.reviews-display {
  margin: 5% 0px;
  width: 100%;
}
.reviews-display span {
  font-size: 2rem;
}
@media screen and (min-width: 768px) {
#reviews-center>img {
  border-right: 1px gray solid;
  border-bottom: 0px gray solid;
}
.reviews-display {
  margin: 50% 0px;
}
}