#suport {
	margin-top: -175px;
	margin-bottom: 10px;
	padding: 15px;
	padding-bottom: 0px;
	color: rgba(130,130,137,1);
	
	position: relative;
	top: calc(65px + 15px + 95px);
}
#suport h2, #suport h5 {
	color: black;
}
.suport-suport {
	width: 98%;
	padding: 1%;
	margin-bottom: 10px;
	
	border-radius: 3%;
	box-shadow: 7px 7px 10px rgba(0,0,0,0.1);
	
	background: no-repeat;
	background-position: calc(100%) calc(100%);
	background-color: white;
}
.suport-suport-1 {
	background-image: url(images/suport/support1.svg);
}
.suport-suport-2 {
	background-image: url(images/suport/support2.svg);
}
.suport-suport-3 {
	background-image: url(images/suport/support3.svg);
}
.suport-suport-4 {
	background-image: url(images/suport/support4.svg);
}
.suport-suport-5 {
	background-image: url(images/suport/support5.svg);
}
.suport-suport-6 {
	background-image: url(images/suport/support6.svg);
}
.suport-suport-7 {
	background-image: url(images/suport/support7.svg);
}
.suport-suport-8 {
	background-image: url(images/suport/support8.svg);
}


#downsupport {
	color: rgba(203,203,215,1);
	background-color: rgba(17,19,42,1);
}
#downsupport h2 {
	color: white;
}
#downsupport-statistic>div {
	float: left;
	display: inline-block;
	border-left: red 3px solid;
	width: 75%;
	height: 100px;
	margin: 10px 2%;
	padding: 1%;
}
#downsupport-statistic>div>p {
	margin: 0px;
	padding: 0px;
	font-size: 0.8em;
	position: relative;
	top: -10px;
}
#downsupport-laptop  {
	position: relative;
	top: 60px;
}

#finalsupport {
	padding: 5px;
	color: rgba(130,130,137,1);
	
	background-image: url(images/suport/fon.png);
    background-size: 100% 100%;
}
#finalsupport h2 {
	color: black;
}
#finalsupport-tar>div {
	transition: 1s;
	
	border: solid rgba(210,210,237,1) 1px;
}
#finalsupport-tar>div>ul {
	padding-left: 1em;
	list-style-type: none;
}
#finalsupport-tar>div>ul li {
	padding-left: 1em;
	background-image: url(images/suport/newpointul.png);
	background-position: 0px 0px;
	background-size: 16.em 1.6 em;
	background-repeat: no-repeat;
}
#finalsupport-tar>div>a {
	display: block;
	width: 100%;
	height: 50px;
	border: 1px red solid;
	border-radius: 5%;
	margin: 1% auto;
	text-align: center;
	padding-top: 1%;
	
	transition: 1s;
}
#finalsupport-tar>div>h5 {
	color: red;
}
.finalsupport-tar-off {
	width: 90%;
	height: 350px;
	padding-top: 3%;
	padding-bottom: 3%;
	padding-left: 1%;
	padding-right: 1%;
	margin-top: 7%;
	
	border-radius: 3%;
	box-shadow: 0px 0px 1px rgba(0,0,0,0.1);
	
	background-color: #F9F9F9;
	
	font-size: 0.8em;
}
.finalsupport-tar-off>a {
	color: red;
}
.finalsupport-tar-on {
	width: 90%;
	height: 430px;
	padding-top: 3.5%;
	padding-bottom: 3.5%;
	padding-left: 1.5%;
	padding-right: 1.5%;
	margin-top: 1%;
	
	border-radius: 3%;
	box-shadow: 0px 0px 3px rgba(30,30,30,0.1);
	
	background-color: white;
	
	font-size: 1em;
}
.finalsupport-tar-on>a {
	color: white;
	background: red;
}

@media screen and (min-width: 768px) {
.suport-suport {
	width: 24%;
}

#downsupport-statistic>div {
	width: 44%;
	height: 70px;
	margin: 15px 2%;
}

#finalsupport {
	padding: 15px;
}
#finalsupport-tar>div>a {
	margin: 20% auto;
}
.finalsupport-tar-off {
	width: 29%;
	height: 430px;
}
.finalsupport-tar-on {
	width: 33%;
	height: 530px;
}
}