#team {
	margin-top: 130px;
	margin-bottom: 65px;
	padding: 15px;
	color: rgba(130,130,137,1);
}
#team-opportunites>div>img {
	position: relative;
	left: -35px;
	padding-left: 35px;
	background-image: url(images/symbol.png);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: -15px 0%;
	margin: 5px 30%;
}
#team h2 {
	color: black;
}
#team-opportunites>div {
	width: 50%;
	margin: 10px auto;
}
#team-opportunites>p {
	display: block;
}

#team-fotos {
	margin-top: 130px;
	margin-bottom: 65px;
	padding: 15px;
	color: rgba(130,130,137,1);
}
#team-fotos h2, #team h5 {
	color: black;
}
#team-fotos-gallary>div {
	width: 40%;
}
#team-fotos-gallary>div>img {
	width: 100%;
}
#team-fotos-gallary>p {
	display: block;
}

#team-fotos-allteam {
	display: block;
	width: 200px;
	height: 50px;
	border: 1px rgba(203,203,215,1) solid;
	border-radius: 5%;
	margin: 50px 0px 100px 0px;
	text-align: center;
	padding-top: 1%;
	color: rgba(130,130,137,1);
}

@media screen and (min-width: 768px) {
#team-opportunites>div {
	width: 25%;
	margin: 10px 5px;
}
#team-opportunites>div>img {
	margin: 5px 0%;
}

#team-fotos-gallary>div {
	width: 27%;
}
}