#workwithus {
	color: rgba(130,130,137,1);
}
#workwithus h2 {
	color: black;
}
#workwithus p {
	margin: 0 auto;
	width: 90%;
}

#workwithus-flex1>img {
	width: calc(95% / 7);
	height: 130px;
}
#workwithus-flex2>img {
	width: calc(95% / 8);
	height: 130px;
}

@media screen and (min-width: 768px) {
#workwithus p {
	width: 50%; 
}
}